head, body {
  margin: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background:  url("music.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.operate{
    transition: background-color 0.5s ease;
    background-color: ;
    border:none;
    width:100%;
    color:darkslategray;
    vertical-align:bottom;
    border-radius: 0px;
}
.operate:hover{
    background-color:white;
    color:darkslategray;
}

div#emoticon{
  font-size: 240px;

  color: green;
}
div.emoji{
  position: relative;
  height: 200 px;
}
.marg{
  margin-top: 50px;
  margin-right: 20px;
  font-size: 20px;
}

.marg1{
    margin-top: 50px;
}
